
/*---общие правила
1. называем заголовки title, title будет всегда отдельным блоком, не будет элементом, их размер 2,1 rem
2. отступы в rem*/




/*--------------------------------------Global-----------------------------*/

.wrap {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem; /*где-то по тексту бывает 2.4rem, надо отслеживать*/
    color: #575753;
    background: rgba(255, 243, 253, 1);
    

}

.title {
    color: #636B5B;
    font-size: 2.1rem;
    line-height: 3.4rem;
}


/*-----------------------------Header----------------------------------------*/


/*------------------------------Main-----------------------------------------*/

/*------------------------------cover-----------------------------------------*/

/*------------------------------disclaimer------------------------------------*/
.disclaimer {
display: flex;
flex-direction: column;
align-items: center;
}

.article {
text-align: center;
margin: auto;
border-radius: 4.75rem;
/*width: 56.375rem;*/
}

.disclaimer__article {
background: rgba(207, 178, 255, 0.2);
width: 45%;
margin-top: 5rem;
}

.text {
padding: 2rem;
font-size:1.25rem;
}

.disclaimer__image {
display:flex;
margin-top: 5rem;
width:26.5rem;
}

@media screen and (max-width:1023px) {
.disclaimer__article {
width: 80%;
}
    
}
/*------------------------------anxiety-about---------------------------------*/
.anxiety-about {
margin-top: 5rem;
}

.anxiety-about__sections {
display:grid;
grid-template-columns: 2fr 1fr;
margin: 5rem 5rem 5rem 5rem;
row-gap: 4rem;
}

.anxiety-about__text {
background: rgba(196, 166, 232, 0.19);
}

.anxiety-about__text2 {
background: rgba(250, 166, 220, 0.25);
}

.anxiety-about__title {
text-align: center;
background-image: url(anxiety-about-decoration.svg)

}

.anxiety-about__picture {
grid-area: 1/2/4/3;
margin-top: 7rem;
}

#anxiety-about__picture {
width:35rem;
}

@media screen and (max-width:1023px) {
.anxiety-about__picture {
display: none;
}

.anxiety-about__sections {
display: flex;
flex-direction: column;
}

}
/*------------------------------anxiety-recognision---------------------------*/

/*------------------------------self-help-------------------------------------*/

/*------------------------------prof-help-------------------------------------*/

/*------------------------------relief---------------------------------*/

/*------------------------------team------------------------------------------*/

/*------------------------------useful----------------------------------------*/



/*------------------------------Footer----------------------------------------*/
