/*---общие правила
1. называем заголовки title, title будет всегда отдельным блоком, не будет элементом, их размер 2,1 rem
2. отступы в rem*/




/*--------------------------------------Global-----------------------------*/

.wrap {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    /*где-то по тексту бывает 2.4rem, надо отслеживать*/
    color: #575753;
    background: rgba(255, 243, 253, 1);


}

.title {
    color: #636B5B;
    font-size: 2.1rem;
    line-height: 3.4rem;
}


/*-----------------------------Header----------------------------------------*/
.header {
    background-color: #D6B2E3;
    color: #554F4F;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.25rem;
    font-weight: 400;
    padding-right: 2rem;
    padding-left: 2rem;
}

.header__logo-img {
    margin-right: 1rem;
}

.header__link,
.header__link:hover {
    color: #554F4F;
    text-decoration: none;
}

.header__link_nav {
    padding: 0 0.5rem 0 0.5rem;
    margin-right: 1rem;
    transition: 0.3s ease-out 0.1s;
}

.header__link_nav:hover {
    background-color: #B696C194;
    border-radius: 20px;
    transition: 0.3s ease-out 0.1s;
}

.header__link_nav:active {
    background-color: #EED4F0;
    border-radius: 20px;
    transition: 0.3s ease-out 0.1s;
}

.header__link_pink {
    display: block;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: #EEC7E8;
    border-radius: 20px;
    transition: 0.3s ease-out 0.1s;
}

.header__link_pink:hover {
    background-color: #FBE5F7A8;
    transition: 0.3s ease-out 0.1s;
}

.header__link_pink:active {
    background-color: #FFFFFFB8;
    transition: 0.3s;
}

@media screen and (max-width: 991px) {
    .collapse {
        margin-left: calc(60px - 0.5rem);
    }

    .header__link_pink {
        margin-left: calc(60px - 2rem + 0.5rem + 1rem);
    }

    .header__link_nav {
        padding-left: calc(1rem + 1rem);
        /*width: 10.5rem;*/
    }


}

/*------------------------------Main-----------------------------------------*/

/*------------------------------cover-----------------------------------------*/
.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    padding: 10rem 25% 10rem 25%;

    letter-spacing: 0.1em;

}

.cover__img {
    width: 100%;
    max-width: 100%;
}

.cover__text {
    line-height: 161.14%;
    font-weight: 400;
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    letter-spacing: 0.025em;
}

.cover__text_with-bg {
    background-image: url("../../assets/images/decoration/cover-decoration.svg");
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 480px) {
    .cover {
        padding: 4rem 5% 4rem 5%;
    }

}

/*------------------------------disclaimer------------------------------------*/
.disclaimer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article {
    text-align: center;
    margin: auto;
    border-radius: 4.75rem;
    /*width: 56.375rem;*/
}

.disclaimer__article {
    background: rgba(207, 178, 255, 0.2);
    width: 55%;
    text-transform: uppercase;
}

.text {
    padding: 2rem;
    font-size: 1.25rem;
    letter-spacing: 0.025em;
    font-weight: 400;
}

.disclaimer__image {
    display: flex;
    margin-top: 5rem;
    width: 36.5rem;
    margin-bottom: 5rem;
}

@media screen and (max-width:991px) {
    .disclaimer__article {
        width: 80%;
    }

}

/*------------------------------anxiety-about---------------------------------*/
.anxiety-about {
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.anxiety-about__sections {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 5rem 5rem 5rem 5rem;
    row-gap: 4rem;
}

.text-article {
    letter-spacing: 0.13em;
    font-variant: small-caps;
    line-height: 161.14%;
}

.anxiety-about__text {
    background: rgba(196, 166, 232, 0.19);
}

.anxiety-about__text2 {
    background: rgba(250, 166, 220, 0.25);
}

.anxiety-about__title {
    text-align: center;
    background: url(../../assets/images/decoration/anxiety-about-decoration.svg) no-repeat;
    background-position: 35%;
    height: 13rem;
    padding-top: 3rem;
}

.anxiety-about__picture {
    grid-area: 1/2/4/3;
    margin-top: 7rem;
}

#anxiety-about__picture {
    width: 35rem;
}

@media screen and (max-width:991px) {
    .anxiety-about__picture {
        display: none;
    }

    .anxiety-about__sections {
        display: flex;
        flex-direction: column;
    }

}

/*------------------------------anxiety-recognition---------------------------*/

.anxiety-recognition {
    margin-bottom: 10rem;
}

.anxiety-recognition__title {
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    margin-bottom: 7.75rem;
    height: 12rem;
}

.anxiety-recognition__title {
    align-items: center;
    background: url(/assets/images/decoration/anxiety-about-decoration.svg) no-repeat;
    background-position: 70% 30%;
}

.anxiety-recognition__block {
    display: flex;
    margin: auto;
    text-align: center;
    background-color: rgba(196, 166, 232, 0.19);
    border-radius: 2.5rem;
    width: 70rem;
    margin-bottom: 14.6rem;
}

.anxiety-recognition__block_text {
    text-transform: uppercase;
    font-weight: 400;
    padding: 2.9rem 1.6rem;
    line-height: 2.4rem;
}

.anxiety-recognition__symptoms {
    display: grid;
    grid-gap: 1.4rem;
    margin-left: 25rem;
    margin-right: 25rem;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5;
    grid-template-areas:
        "item1 item2"
        "item3 item4"
        "item5 item6"
        "item7 item8"
        ".     item9";

}

.item9 {
    justify-items: center;
    margin-bottom: 25rem;
}

.anxiety-recognition__symptoms_item {
    display: flex;
    width: 34rem;
    justify-items: center;
    align-items: center;
    font-weight: 400;
    border-radius: 2.8rem;
    background-color: rgba(196, 166, 232, 0.19);
    text-transform: uppercase;
    text-align: center;
    padding: 4rem 2rem;
    margin-bottom: 4rem;

}

.anxiety-recognition__symptoms img {
    max-width: 8rem;
    max-height: 8rem;
    margin-right: 1rem;
}

/*------------------------------self-help-------------------------------------*/

.self-help__technique {}

.self-help__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
    background: url(/assets/images/decoration/self-help-decoration.svg) no-repeat;
    background-position: center;
    margin-bottom: 6rem;
}

.self-help__exercise_title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.self-help__exercise_text {
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    padding-bottom: 3rem;
    margin-left: 12rem;
    margin-right: 12rem;
}

.self-help__exercise_video {
    display: flex;
    justify-content: center;
    padding-bottom: 10rem;
    margin-left: 12rem;
    margin-right: 12rem;
}

.self-help__exercise {
    background-color: #F6D8FF;
    border-radius: 4rem;
    margin: 8rem;
}

.self-help__technique {
    background-color: #F6D8FF;
    border-radius: 4rem;
    margin: 8rem;

}

.self-help__technique_title {
    text-align: center;
    padding-top: 4rem;
}

.self-help__technique_title2 {
    padding: 4rem;
    text-align: center;
}

.self-help__technique_text {
    font-weight: 400;
    line-height: 161.14%;
    letter-spacing: 0.13em;
    padding: 0px 15rem 10rem 15rem;
    text-align: justify;

}

/*------------------------------prof-help-------------------------------------*/
.prof-help {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: fit-content;
    justify-items: center;
    row-gap: 5rem;
    margin-bottom: 10rem;
}

.prof-help__title {
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 1rem;
    margin: 2rem;
    height: 20vh;
    width: 40vw;
    background: url(/Support/assets/images/decoration/prof-help-decoration.svg) no-repeat;
    background-position: center;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.08em;
}

.prof-help__info a {
    align-self: start;
    color: #575753;
}

.prof-help__info a:hover {
    text-decoration: none;
    color: #8D8D85;
}

.prof-help__info-text {
    display: grid;
    grid-template-rows: 2fr repeat(5, 1fr);
    align-items: start;
    box-sizing: border-box;
    width: 29vw;
    height: 50vh;
    padding: 10%;
    border-radius: 10%;
    letter-spacing: 0.08em;
    font-weight: 400;
    font-size: 1rem;
    gap: 0.5rem;
    text-transform: uppercase;
    line-height: 32px;
    text-align: left;
    background-color: #F6D8FF;
}

.prof-help__info-text h2 {
    font-weight: bold;
    font-size: 1.3rem;
}

.prof-help__info-text_bold {
    font-weight: bold;
}

.prof-help__info-pills,
.prof-help__info-resurces,
.prof-help__info-psychotherapy,
.prof-help__info-phone {
    display: grid;
    gap: 2rem;
    align-self: center;
}

.prof-help__info-resurces img,
.prof-help__info-phone img,
.prof-help__info-pills img,
.prof-help__info-psychotherapy img {
    height: 45vh;
    box-sizing: border-box;
}

.prof-help__info-pills img {
    height: 45vh;
}

.prof-help__info-resurces img,
.prof-help__info-pills img {
    padding: 5%;
}

/*------------------------------relief---------------------------------*/
.relief {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.relief img {
    width: 30vh;
}

/*------------------------------team------------------------------------------*/
.team {
    display: grid;
    justify-items: center;
    margin-bottom: 15rem;

}



/*-----------------------------------------------useful-------------------------------------------------------------*/

.useful {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_decor {
    background-image: url(/assets/images/decoration/useful-decoration.svg);
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.useful__block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.8rem 0;
    height: 8rem;
    text-align: center;
    background: rgba(246, 216, 255, 0.65);
    border-radius: 3rem;
}

.useful__link {
    color: #575753;
}

.useful__link:hover {
    text-decoration: underline;
    color: #8D8D85;
}

.useful__link:active {
    color: rgba(112, 112, 106, 0.41);
}

.useful__text {
    margin: 0;
}


/*-----------------------------------------------useful (media)-----------------------------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 1600px) {

    .title_decor {
        width: 35rem;
        height: 10rem;
    }

    .useful__items {
        display: flex;
        justify-content: space-around;
        padding: 7rem 8rem 12rem;
    }

    .useful__item {
        width: 32%;
    }

    .useful__block {
        width: 100%;
    }

    .useful__img {
        width: 100%;
        max-width: 100%;
        margin-bottom: 3rem;
    }
}


@media screen and (max-width: 767px) {

    .title_decor {
        background-size: 7rem;
        width: 25rem;
        height: 10rem;
    }

    .useful__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 4rem 0;
    }

    .useful__item {
        margin-bottom: 7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .useful__block {
        width: 17rem;
    }

    .useful__img {
        width: 70%;
        max-width: 70%;
        margin-bottom: 2rem;
    }
}

.team__title {
    align-self: end;
    padding: 8rem;
    margin-bottom: 5rem;
    font-weight: bold;
    background: url(/Support/assets/images/decoration/team-decoration.svg) no-repeat;
    background-position: 12% 25%;
    background-size: 25vh;
    letter-spacing: 0.08em;
}

.team__images-box {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10rem;
    letter-spacing: 0.08em;
}

.team__images img {
    width: 35vh;
}

.team__description {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 5rem;
    width: 80vw;
    height: 28vh;
    font-weight: 400;
    border-radius: 50px;
    text-align: center;
    background-color: #F6D8FFA6;
}

.team__description p {
    font-size: 1.2rem;
    margin: 10%;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

/*------------------------------useful----------------------------------------*/




/*------------------------------Footer----------------------------------------*/

.footer {
    display: flex;
    align-items: center;
    background: #D6B2E3;
}


.footer__copyright {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
    .footer {
        justify-content: space-between;
        align-items: center;
        height: 12rem;
    }

    .footer__copyright {
        margin-left: 5rem;
        font-weight: 700;
    }

    .footer__inspire {
        display: flex;
        flex-direction: column;
        margin-right: 13rem;
    }

    .footer__headline {
        font-weight: 700;
        margin-bottom: 1.5rem;
    }

    .footer__link {
        color: #636B5B;
    }

    .footer__text {
        margin: 0;
        font-size: 1.25rem;
    }

    .footer__link:hover {
        text-decoration: underline;
        color: #636B5B;
        ;
    }
}

@media screen and (max-width: 767px) {

    .footer {
        justify-content: center;
        align-items: center;
        height: 8rem;
    }

    .footer__copyright {
        font-weight: 700;
    }

    .footer__inspire {
        display: none;
        width: 0rem;
    }

}